# Maven
target/
*.jar
*.war
*.ear
.mvn/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse / STS (if switching IDEs)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# Logs
logs/
*.log

# Dependency caches
.m2/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code (if using)
.vscode/
